@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Barlow", sans-serif;
  background-color: #252836;
}

.home {
  li {
    color: rgb(255, 106, 0);
    border-radius: 12px 0px 0px 12px;
    &:nth-child(2) {
      /* background-color: #252836; */
      /* color: #fff; */
      position: relative;

      /* .icon{ */
      /* background-color: #ea7c69; */
      /* box-shadow: 0px 8px 24px 0px rgba(234, 124, 105, 0.3); */

      /* } */
    }
    &:hover {
      background-color: #252836;

      .icon {
        background-color: #ff6a00;
        border-radius: 12px;
        color: #fff;
      
        box-shadow: 0px 8px 24px 0px rgba(219, 114, 114, 0.3);
      }
    }
  }
}

.btns{
  button{
       &:hover{
      background-color: #ff6a00;
      color: #fff;
    }
  }
}

.scrollProduct::-webkit-scrollbar{
  display: none;
}